<div class="col-12">
  <p-card class="card-page-content">


<div class="col-12">
  <h2> ¿ yo ? </h2>
</div>
<div class="col-12 border-1">

</div>
<div class="col-12">
  <span>
    ¡Hola! Soy Ulises Cerón, un apasionado desarrollador web con experiencia en front-end. Desde hace año y medio trabajo con Angular en una empresa y estoy en constante aprendizaje para convertirme en desarrollador full stack utilizando Node.js o Deno.

Me motiva saber que el código que escribo puede facilitarle la vida a alguien y cumplir un propósito. Creo que las metas se logran con esfuerzo diario y paciencia. Me gusta ver la desesperación como un motor para atreverme a enfrentar nuevos desafíos y superarme.

Soy ingeniero en ciencias de la computación por la BUAP y siempre busco seguir creciendo y aprendiendo. Fuera del trabajo, disfruto la tranquilidad, pero también la convivencia con amigos y familia. Me gusta divertirme, hacer ejercicio y jugar fútbol. Aunque me dan miedo las alturas, me divierte la adrenalina.
  </span>
</div>




  </p-card>
</div>
