/* @import "/node_modules/primeng"

:root {
  --primary-color: #3B82F6;
  --primary-color-text: #ffffff;
  --secondary-color: #64748B;
  --secondary-color-text: #ffffff;
  --success-color: #22C55E;
  --success-color-text: #ffffff;
  --info-color: #e9e9ff;
  --info-color-text: #696cff;
  --warning-color: #F59E0B;
  --warning-color-text: #ffffff;
  --help-color: #A855F7;
  --help-color-text: #ffffff;
  --danger-color: #EF4444;
  --danger-color-text: #ffffff;
} */
