<!-- <p-card> -->

<div class="col-12">
  <div class="col-12 mt-3">
    <div class="col-12 ">
      <span class="font-bold text-6xl font-italic"> Ulises C. </span><br />
    </div>
    <div class="col-12 -mt-3 flex justify-content-end">
      <span class="font-bold text-6xl font-italic"> Méndez </span>
    </div>
  </div>

  <div class="col-12 flex flex-wrap">
    <div class="col-12 flex flex-wrap justify-content-start">
      <div class="col-10">
        <span>
          <span class="text-green-500"> {{ labelsO }} </span> {{ desc }}
          <span class="labelsC"> {{ labelsC }} </span>
        </span>
      </div>
    </div>
    <div class="col-12 flex flex-wrap justify-content-center">
      <div class="col-10">
        <span>
          <span class="text-green-500"> {{ labelsO }} </span> {{ university }}
          <span class="labelsC"> {{ labelsC }} </span>
        </span>
      </div>
    </div>
    <div class="col-12 flex flex-wrap justify-content-end">
      <div class="col-10">
        <span>
          <span class="text-green-500"> {{ labelsO }} </span> {{ experiencie }}
          <span class="labelsC"> {{ labelsC }} </span>
        </span>
      </div>
    </div>
    <div class="col-12 flex flex-wrap justify-content-center">
      <div class="col-10">
        <span>
          <span class="text-green-500"> {{ labelsO }} </span> {{ skills }}
          <span class="labelsC"> {{ labelsC }} </span>
        </span>
      </div>
    </div>
    <div class="col-12 flex flex-wrap justify-content-start">
      <div class="col-10">
        <span>
          <span class="text-green-500"> {{ labelsO }} </span> {{ hobbies }}
          <span class="labelsC"> {{ labelsC }} </span>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- </p-card> -->
