.labelsO{
  color: green;
}


.labelsC{
  color: pink;
}


.cut-words{
  overflow-wrap: break-word;
}


/* .mood{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: ;
}

.animated-bg {

}

@keyframes animateBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
} */

