
<!-- <p-button label="Primary"></p-button>
<p-button label="Secondary" styleClass="p-button-secondary"></p-button>
<p-button label="Success" styleClass="p-button-success"></p-button>
<p-button label="Info" styleClass="p-button-info"></p-button>
<p-button label="Warning" styleClass="p-button-warning"></p-button>
<p-button label="Help" styleClass="p-button-help"></p-button>
<p-button label="Danger" styleClass="p-button-danger"></p-button> -->
<!-- <p-card></p-card> -->

<div class="col-12  flex flex-wrap align-items-center justify-content-between totalScreen">

  <div class="col-3">
    <app-social></app-social>
  </div>

  <div class="col-9 flex flex-wrap h-full justify-content-center align-content-center">
    <div class="col-4  justify-content-center align-content-center">
     <app-me></app-me>
    </div>
    <div class="col-8  h-full flex flex-warp align-content-center justify-content-center my-auto">
      <div class="col-12  grid text-center align-content-center">
        <app-my_photo></app-my_photo>

      </div>
    </div>
  </div>
</div>

<!-- <app-me></app-me> -->
