
<div class="col-12  flex flex-wrap align-items-center justify-content-between ">
  <!-- <div class="col-12  flex flex-wrap align-items-center justify-content-between totalScreen"> -->
  <div class="col-12 ">
  <app-navbar ngSkipHydration></app-navbar>

  </div>
  <div class="col-3">
    <app-social></app-social>
  </div>

  <div class="col-9 flex flex-wrap h-full justify-content-center align-content-center">
    <div class="col-4  justify-content-center align-content-center">
     <app-me></app-me>
    </div>
    <div class="col-8  h-full flex flex-warp align-content-center justify-content-center my-auto">
      <div class="col-12  grid text-center align-content-center mt-4">
        <app-my_photo></app-my_photo>
      </div>
    </div>
  </div>
</div>

